body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #FFD700;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 600px;
  margin: auto;
  text-align: center;
  border: 2px solid #E5C100;
  padding: 20px;
  border-radius: 10px;
  background-color: #111;
}

h1 {
  color: #E5C100;
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  background-color: #222;
  color: #FFD700;
  border: 1px solid #555;
  border-radius: 5px;
}

input[type="range"] {
  width: 100%;
  margin: 20px 0;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
  color: #F5DEB3;
}
